---
layout: main
title: Playlists
---

<div class="header">
	<h1 class="editable">
		Muso Playlists
	</h1>
	<p class="editable">
		<u><em><strong>Playing Music</strong></em></u><br />Enter your <a href="/goose-id/"><em>goose user ID</em></a> to the field below. This allows you to connect to the office Muso system. When saving your user ID, click yes when your browser asks to save this password.<br /><br /><u><em><strong><br />Adding songs</strong></em></u><br />You can also <a target="_blank" rel="noopener" href="http://playlists.emu.nz/update">add songs</a> and groups to this website. The password is the company we work for.<br /><br /><u><em><strong>Make a pull request</strong></em></u><br />Feel free to make pull requests to <a target="_blank" rel="noopener" href="https://github.com/meddlenz/muso-playlists">this repo</a>.
	</p>
	<form action="#">
		<input id="userID" type='password' />
		<input value="Save User ID" type="submit" />
	</form>
</div>
<div class="main">
	{% assign video_collections = site.data.video_collections.collections %}
	{% for collection in video_collections %}
		<details class="main__collection">
			<summary class="main__collection-title">{{ collection.title }}</summary>
			<div class="main__videos">
				{% for video in collection.videos %}
					{% assign image = video.id | prepend: 'https://img.youtube.com/vi/' | append: '/0.jpg' %}

					{% assign video_url = video.id %}
					<a class="main__video" data-url="{{ video_url }}">
					    <div class="main__image" style="background-image: url('{{ image }}')"></div>
						<h1 class="main__video-title">{{ video.title }}</h1>
						<div class="main__filler"></div>
						<div class="main__overlay">
						 	<p>Queue to Muso</p>
						</div>
					</a>
				{% endfor %}
			</div>
		</details>
	{% endfor %}
</div>
