body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	font-family: 'Comic Sans', 'Comic Sans MS', 'Arial';
	background-color: #262626;
	color: #d0d0d0;
}

.content-wrapper {
	margin: 0 auto;
	padding-bottom: 150px;
	max-width: 1920px;
}

h1, h2, h3 {
	color: #ffe300;
	filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 25px;
	text-align: center;

	h1 {
		color: #ffe300;
	}

	p {
		max-width: 650px;
	}

	form {

	}
}

.main {
	display: flex;
	flex-direction: column;

	&__collection {
		margin: 50px 0 5px 0;
		width: 100%;
		text-align: center;

		&[open] {
			.main__videos {
				opacity: 1;
				transition: opacity 0.4s ease;
			}
		}
		
		summary {
			font-size: 32px;
			color: #ffe300;
			filter: drop-shadow(2px 2px 2px rgb(0, 0, 0));
			user-select: none;
			outline: none;
			cursor: pointer;
		}
	}

	&__collection-title {

	}

	&__videos {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;
		padding: 25px;
		opacity: 0;
		transition: opacity 0.4s ease;
	}

	&__video {
		position: relative;
		margin: 15px;
		flex: 1 300px;
		cursor: pointer;
		border-radius: 4px;
		border: 1px solid rgba(255,255,255,0.2);
		overflow: hidden;
		transition: box-shadow 0.2s ease,
					border 0.2s ease;

		&:hover {
			border: 1px solid rgba(255,255,255,0.3);
			transition: border 0.2s ease;

			.main__overlay {
				opacity: 1;
				pointer-events: all;
				transition: opacity 0.2s ease;
			}

			.main__image {
				transform: scale(110%);
				box-shadow: inset 0px 10px 30px rgba(0,0,0,0.8);
				transition: transform 0.2s ease,
							box-shadow 0.2s ease;
			}
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		background-position: center center;
		background-size: cover;
		transition: transform 0.2s ease,
					box-shadow 0.2s ease;
	}

	&__video-title {
		position: absolute;
		top: 15px;
		left: 15px;
		margin: 0;
		padding: 5px 25px;
		border: 1px solid rgba(255,255,255,0.4);
		border-radius: 25px;
		background-color: rgba(255,255,255,0.4);
		font-size: 16px;
		color: #fff;
		font-weight: 400;
		box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
	}

	&__filler {
		height: 0;
		padding-bottom: 56.25%;
	}

	&__overlay {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		color: #ffffff;
		background-color: rgba(0,0,0,0.6);
		user-select: none;
		cursor: pointer;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.2s ease;

		&:active {
			p {
				transform: rotate(-320deg);
				transition: transform 0.2s ease;
			}
		}

		p {
			transition: transform 0.2s ease;
		}
	}
}

.surprise-button {
	position: fixed;
	z-index: 4;
	bottom: 10px;
	left: 10px;
	padding: 5px 8px;
	background-color: #ff00fb;
	color: #fff;
	border-radius: 4px;
	text-shadow: 1px 1px black;
	box-shadow: 1px 1px 1px black;
	cursor: pointer;
	user-select: none;
	transition: transform 0.4s ease-out;

	&:hover {
		background: rgb(63,94,251);
		background: -moz-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(254,255,0,1) 0%, rgba(0,255,21,1) 29%, rgba(0,250,255,1) 42%, rgba(17,0,255,1) 58%, rgba(248,0,255,1) 81%, rgba(255,0,0,1) 100%);
		background: -webkit-radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(254,255,0,1) 0%, rgba(0,255,21,1) 29%, rgba(0,250,255,1) 42%, rgba(17,0,255,1) 58%, rgba(248,0,255,1) 81%, rgba(255,0,0,1) 100%);
		background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(254,255,0,1) 0%, rgba(0,255,21,1) 29%, rgba(0,250,255,1) 42%, rgba(17,0,255,1) 58%, rgba(248,0,255,1) 81%, rgba(255,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#ff0000",GradientType=1);
		transform: rotate(-700deg);
		transition: transform 0.4s ease-out;
	}

	&:active {
		padding: 30px;
		font-size: 20px;
	}
}